/*
Licensed Materials - Property of UNICOM Systems, Inc.
(C) Copyright UNICOM Systems, Inc. - a Division of UNICOM Global. 2001 - 2017
*/

@charset "utf-8";

body,
html {
  font-size: 100%;
}
@media screen and (min-width: 1001px) {
  .content {
    width: 100%;
    position: absolute;
    left: 8vw;
    top: 5vh;
    height: 100%;
    margin: 0;
    padding: 0;
    max-width: 80vw;
    align-items: center;
  }
}
